[["nextera-site-1" :site/url "https://www.nexteraenergy.com" 1 :add]
 ["nextera-site-1" :site/checked-at "2026-07-18" 1 :add]
 ["nextera-site-1" :site/http-status 200 1 :add]
 ["nextera-site-1" :site/title "Enabling American Energy Dominance | NextEra Energy" 1 :add]
 ["nextera-site-1" :site/description "Discover how NextEra Energy is leading America&#39;s energy evolution using an all forms of energy strategy to keep prices low for customers." 1 :add]]
